<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
	<meta charset="UTF-8" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="author" content="mironcoder" />
	<meta name="email" content="mironcoder@gmail.com" />
	<meta name="profile" content="https://themeforest.net/user/mironcoder" />
	<meta name="template" content="greeny" />
	<meta name="title" content="greeny - Ecommerce Food Store HTML Template" />
	<meta name="keywords"
		  content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online" />
	<title>Thế giới nông sản</title>

	<link rel="icon" href="/images/logo.png" />
	<link rel="stylesheet" href="fonts/flaticon/flaticon.css" />
	<link rel="stylesheet" href="fonts/icofont/icofont.min.css" />
	<link rel="stylesheet" href="fonts/fontawesome/fontawesome.min.css" />
	<link rel="stylesheet" href="vendor/venobox/venobox.min.css" />
	<link rel="stylesheet" href="vendor/slickslider/slick.min.css" />
	<link rel="stylesheet" href="vendor/niceselect/nice-select.min.css" />
	<link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/index.css" />
	<link rel="stylesheet" href="css/contact.css">
	<link rel="stylesheet" href="css/chatbot.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--************************************
				Header Start
		*************************************-->
<header th:replace="~{/web/fragments/header :: header}"></header>
<!--************************************
				Header End
		*************************************-->
<section class="home-index-slider slider-arrow slider-dots">
	<div class="banner-part banner-1">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 col-lg-6">
					<div class="banner-content">
						<h1>CAM KẾT CHẤT LƯỢNG</h1>
						<p>Tất cả sản phẩm chúng tôi cung cấp đều trải qua quá trình kiểm tra và đánh giá nghiêm túc.
							Các nhà cung cấp của chúng tôi thường xuyên được đánh giá lại để đảm bảo tuân thủ các chỉ dấn
							về chất lượng của chúng tôi</p>
						<div class="banner-btn">
							<a class="btn btn-inline"
							   th:href="@{/products}">
								<i class="fas fa-shopping-basket"></i>
								<span>Mua sắm ngay bây giờ</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="banner-img">
						<img src="images/home/index/04.png" alt="index" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="banner-part banner-2">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 col-lg-6">
					<div class="banner-img">
						<img src="images/home/index/03.png" alt="index" />
					</div>
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="banner-content">
						<h1>CAM KẾT CHẤT LƯỢNG</h1>
						<p>Tất cả sản phẩm chúng tôi cung cấp đều trải qua quá trình kiểm tra và đánh giá nghiêm túc.
							Các nhà cung cấp của chúng tôi thường xuyên được đánh giá lại để đảm bảo tuân thủ các chỉ dấn
							về chất lượng của chúng tôi</p>
						<div class="banner-btn">
							<a class="btn btn-inline" th:href="@{/products}">
								<i class="fas fa-shopping-basket"></i>
								<span>Mua sắm ngay bây giờ</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section suggest-part">
	<div class="container">
		<ul class="suggest-slider slider-arrow slick-initialized slick-slider">
			<div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1300px; transform: translate3d(0px, 0px, 0px);"><li class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 240px;">
				<a class="suggest-card" href="/productsByCategory/4" tabindex="0">
					<img src="images/suggest/02.jpg" alt="suggest">
					<h5>
						Rau củ <span>số lượng : 8 </span>
					</h5>
				</a>
			</li><li class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" style="width: 240px;">
				<a class="suggest-card" href="/productsByCategory/5" tabindex="0">
					<img src="images/suggest/02.jpg" alt="suggest">
					<h5>
						Trái cây <span>số lượng : 10 </span>
					</h5>
				</a>
			</li><li class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" style="width: 240px;">
				<a class="suggest-card" href="/productsByCategory/6" tabindex="0">
					<img src="images/suggest/02.jpg" alt="suggest">
					<h5>
						Củ quả <span>số lượng : 10 </span>
					</h5>
				</a>
			</li><li class="slick-slide slick-active" data-slick-index="3" aria-hidden="false" tabindex="0" style="width: 240px;">
				<a class="suggest-card" href="/productsByCategory/11" tabindex="0">
					<img src="images/suggest/02.jpg" alt="suggest">
					<h5>
						Hạt dinh dưỡng <span>số lượng : 5 </span>
					</h5>
				</a>
			</li><li class="slick-slide slick-active" data-slick-index="4" aria-hidden="false" tabindex="0" style="width: 240px;">
				<a class="suggest-card" href="/productsByCategory/12" tabindex="0">
					<img src="images/suggest/02.jpg" alt="suggest">
					<h5>
						Đặt sản vùng miền <span>số lượng : 2 </span>
					</h5>
				</a>
			</li></div></div>
		</ul>
	</div>
</section>
<section class="section recent-part">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-heading">
					<h2>Mặt hàng mới về</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ul class="new-slider slider-arrow slick-initialized slick-slider"><i class="icofont-arrow-right dandik slick-arrow" style="display: block;"></i>
					<div class="slick-list draggable"><div id ="list1" class="slick-track" style="opacity: 1; width: 19500px; transform: translate3d(-2340px, 0px, 0px);">

</div>
					</div>
					<i class="icofont-arrow-left bamdik slick-arrow" style="display: block;"></i></ul>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="section-btn-25">
					<a href="/products" class="btn btn-outline"><i class="fas fa-eye"></i><span>xem thêm</span></a>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="section promo-part">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="promo-img">
					<a href="javascript:void(0);"><img src="images/promo/home/10.jpg" alt="promo" /></a>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="section feature-part">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-heading">
					<h2>Mặt hàng nổi bật</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ul class="new-slider slider-arrow slick-initialized slick-slider"><i class="icofont-arrow-right dandik slick-arrow" style="display: block;"></i>
					<div class="slick-list draggable"><div id ="list2" class="slick-track" style="opacity: 1; width: 19500px; transform: translate3d(-2340px, 0px, 0px);">

					</div>
					</div>
					<i class="icofont-arrow-left bamdik slick-arrow" style="display: block;"></i></ul>

			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="section-btn-25">
					<a href="/products" class="btn btn-outline"><i class="fas fa-eye"></i><span>xem thêm</span></a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section countdown-part">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 mx-auto">
				<div class="countdown-content">
					<h3>ƯU ĐÃI GIẢM GIÁ ĐẶC BIỆT CHO CÁC MẶT HÀNG</h3>
					<p>Chương trình ưu đãi hàng tuần.</p>
					<div class="countdown countdown-clock" data-countdown="2022/12/22">
						<span class="countdown-time"><span>00</span><small>days</small></span><span
							class="countdown-time"><span>00</span><small>hours</small></span><span
							class="countdown-time"><span>00</span><small>minutes</small></span><span
							class="countdown-time"><span>00</span><small>seconds</small></span>
					</div>
					<a th:href="@{/products}" class="btn btn-inline"><i
							class="fas fa-shopping-basket"></i><span>Mua sắm ngay bây
								giờ</span></a>
				</div>
			</div>
			<div class="col-lg-1"></div>
			<div class="col-lg-5">
				<div class="countdown-img">
					<img src="images/countdown.png" alt="countdown" />
					<div class="countdown-off">
						<span>20%</span><span>off</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section newitem-part">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section-heading">
					<h2>Mặt hàng bán chạy</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ul class="new-slider slider-arrow slick-initialized slick-slider"><i class="icofont-arrow-right dandik slick-arrow" style="display: block;"></i>
					<div class="slick-list draggable"><div id ="list3" class="slick-track" style="opacity: 1; width: 19500px; transform: translate3d(-2340px, 0px, 0px);">

					</div>
					</div>
					<i class="icofont-arrow-left bamdik slick-arrow" style="display: block;"></i></ul>

			</div>

		</div>
		<div class="row">
			<div class="col">
				<div class="section-btn-25">
					<a href="/products" class="btn btn-outline"><i class="fas fa-eye"></i><span>xem thêm</span></a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="intro-part">
	<div class="container">
		<div class="row intro-content">
			<div class="col-sm-6 col-lg-3">
				<div class="intro-wrap">
					<div class="intro-icon">
						<i class="fas fa-truck"></i>
					</div>
					<div class="intro-content">
						<h5>Giao Hàng Tận Nhà Miễn Phí</h5>
						<p>Chính sách hỗ trợ người dùng</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-3">
				<div class="intro-wrap">
					<div class="intro-icon">
						<i class="fas fa-sync-alt"></i>
					</div>
					<div class="intro-content">
						<h5>Chính Sách Hoàn Trả</h5>
						<p>Chính sách hỗ trợ người dùng</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-3">
				<div class="intro-wrap">
					<div class="intro-icon">
						<i class="fas fa-headset"></i>
					</div>
					<div class="intro-content">
						<h5>Hệ Thống Hỗ Trợ</h5>
						<p>Chính sách hỗ trợ người dùng</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-3">
				<div class="intro-wrap">
					<div class="intro-icon">
						<i class="fas fa-lock"></i>
					</div>
					<div class="intro-content">
						<h5>Cách Thanh Toán An Toàn</h5>
						<p>Chính sách hỗ trợ người dùng</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="inner-section">

	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-heading">
					<h2>Cửa Hàng Của Chúng Tôi</h2>
				</div>
			</div>
			<div class="col-lg-12 col-sm-12">
				<div class="contact-map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14913.943732174228!2d106.20607525540173!3d20.852455193067343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135970d8c51b2e9%3A0x5218bda6bfb05e3c!2zTmjDom4gUXV54buBbiwgQsOsbmggR2lhbmcsIEjhuqNpIETGsMahbmcsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1747643803083!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>				</div>
			</div>
		</div>
	</div>
</section>

<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>

<!--************************************
				Footer Start
		*************************************-->
<footer th:replace="~{/web/fragments/footer :: footer}"></footer>

<!--************************************
				Footer End
		*************************************-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script th:src="@{/jquery/home.js}"></script>

<script src="vendor/bootstrap/jquery-1.12.4.min.js"></script>
<script src="vendor/bootstrap/popper.min.js"></script>
<script src="vendor/bootstrap/bootstrap.min.js"></script>
<script src="vendor/countdown/countdown.min.js"></script>
<script src="vendor/niceselect/nice-select.min.js"></script>
<script src="vendor/slickslider/slick.min.js"></script>
<script src="vendor/venobox/venobox.min.js"></script>
<script src="js/nice-select.js"></script>
<script src="js/countdown.js"></script>
<script src="js/accordion.js"></script>
<script src="js/venobox.js"></script>
<script src="js/slick.js"></script>
<script src="js/main.js"></script>

<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>

<!-- Thêm vào cuối body, trước thẻ đóng body -->
<link rel="stylesheet" href="/css/chatbot.css">
<div class="chat-toggle" id="chatToggle">
    <img src="/images/chat-icon.svg" alt="Chat">
</div>

<div class="chat-container hidden" id="chatContainer">
    <div class="chat-header">
        <h3>Chat với OngVangChatBot</h3>
        <button onclick="toggleChat()" style="background: none; border: none; color: white; cursor: pointer;">×</button>
    </div>
    <div class="chat-messages" id="chatMessages">
        <div class="message bot-message">
            Xin chào! Tôi có thể giúp gì cho bạn?
        </div>
    </div>
    <div class="chat-input">
        <input type="text" id="messageInput" placeholder="Nhập tin nhắn của bạn..." onkeypress="handleKeyPress(event)">
        <button onclick="sendMessage()">Gửi</button>
    </div>
</div>

<script>
    let userId = localStorage.getItem('chatUserId') || generateUserId();
    localStorage.setItem('chatUserId', userId);

    function generateUserId() {
        return 'user_' + Math.random().toString(36).substr(2, 9);
    }

    function toggleChat() {
        const container = document.getElementById('chatContainer');
        const toggle = document.getElementById('chatToggle');
        if (container && toggle) {
            container.classList.toggle('hidden');
            toggle.classList.toggle('hidden');
        }
    }

    function handleKeyPress(event) {
        if (event.key === 'Enter') {
            sendMessage();
        }
    }

    function addMessage(message, isUser = false) {
        const messagesDiv = document.getElementById('chatMessages');
        if (messagesDiv) {
            const messageDiv = document.createElement('div');
            messageDiv.className = `message ${isUser ? 'user-message' : 'bot-message'}`;
            messageDiv.textContent = message;
            messagesDiv.appendChild(messageDiv);
            messagesDiv.scrollTop = messagesDiv.scrollHeight;
        }
    }

    function showTypingIndicator() {
        const messagesDiv = document.getElementById('chatMessages');
        if (messagesDiv) {
            const indicator = document.createElement('div');
            indicator.className = 'typing-indicator';
            indicator.innerHTML = '<span></span><span></span><span></span>';
            indicator.id = 'typingIndicator';
            messagesDiv.appendChild(indicator);
            messagesDiv.scrollTop = messagesDiv.scrollHeight;
        }
    }

    function removeTypingIndicator() {
        const indicator = document.getElementById('typingIndicator');
        if (indicator) {
            indicator.remove();
        }
    }

    async function sendMessage() {
        const input = document.getElementById('messageInput');
        if (!input) return;

        const message = input.value.trim();
        if (message) {
            addMessage(message, true);
            input.value = '';
            showTypingIndicator();

            try {
                const response = await fetch('http://localhost:8081/api/chatbot/message', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        message: message,
                        userId: userId
                    })
                });

                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                const data = await response.json();
                removeTypingIndicator();
                addMessage(data.message);
            } catch (error) {
                console.error('Error:', error);
                removeTypingIndicator();
                addMessage('Xin lỗi, đã có lỗi xảy ra. Vui lòng thử lại sau.');
            }
        }
    }

    // Thêm event listener khi trang load xong
    document.addEventListener('DOMContentLoaded', function() {
        const chatToggle = document.getElementById('chatToggle');
        if (chatToggle) {
            chatToggle.addEventListener('click', toggleChat);
        }
    });
</script>
</body>
</html>
