<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <meta
    http-equiv="content-type"
    content="text/html;charset=utf-8"
  />
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="mironcoder" />
    <meta name="email" content="mironcoder@gmail.com" />
    <meta name="profile" content="https://themeforest.net/user/mironcoder" />
    <meta name="template" content="greeny" />
    <meta name="title" content="greeny - Ecommerce Food Store HTML Template" />
    <meta
      name="keywords"
      content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online"
    />
    <title>Thế giới nông sản</title>
<link rel="icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/fonts/flaticon/flaticon.css" />
    <link rel="stylesheet" href="/fonts/icofont/icofont.min.css" />
    <link rel="stylesheet" href="/fonts/fontawesome/fontawesome.min.css" />
    <link rel="stylesheet" href="/vendor/venobox/venobox.min.css" />
    <link rel="stylesheet" href="/vendor/slickslider/slick.min.css" />
    <link rel="stylesheet" href="/vendor/niceselect/nice-select.min.css" />
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/product-details.css" />
  </head>
  <body>
    <!--************************************
				Header Start
		*************************************-->
		<header th:replace="~{/web/fragments/header :: header}"></header>
		<!--************************************
				Header End
		*************************************-->
    <section
      class="single-banner inner-section"
      style="background: url(/images/single-banner.jpg) no-repeat center">
      <div class="container">
        <h2>Chi tiết sản phẩm</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
        </ol>
      </div>
    </section>
	<section class="inner-section">
		<div id = "product_detail" class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="details-gallery">
						<div class="details-label-group">
							<label class="details-label new">new</label>
							<label class="details-label off">- 2%</label>
						</div>
						<ul class="details-preview slick-initialized slick-slider">
							<div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 566px;"><li class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 566px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;"><img src="/loadImage?imageName=qua-hach-kho.jpg" alt="product"></li></div></div>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="details-content">
						<h3 class="details-name">
							<a href="#">Quả hạch khô</a>
						</h3>
						<div class="details-meta">
							<p>Mã sản phẩm:<span>65</span></p>
							<p>Thể loại:<a href="#">Hạt dinh dưỡng</a></p>
						</div>
						<div class="details-meta">
							<p>Số lượng hàng:<a href="#">100</a></p>
						</div>
						<div class="details-rating">
							<i class="active icofont-star"></i><i class="active icofont-star"></i><i class="active icofont-star"></i><i class="active icofont-star"></i>
							<i class="icofont-star"></i>

						</div>
						<h3 class="details-price">
							<del>200.000 đ</del>
							<span>196.000 đ<small>/kg</small></span>
						</h3>
						<p class="details-desc">
							Quả hạch còn có tên gọi khác là hạt bào ngư, hạt móng ngựa, hình dáng của quả hạch bên ngoài xù xì, có lớp vỏ cứng màu nâu sẫm. Quả hạch có phần nhân bên trong màu trắng, nhận được bao bọc 1 lớp màn mỏng nâu. Phần nhân béo gùi, ăn rất thơm.
						</p>
						<div class="details-list-group">
							<label class="details-list-title">Xem thêm:</label>
							<ul class="details-tag-list">
								<li>
									<a href="/productByCategory?id=4">Rau củ</a>
								</li>
								<li>
									<a href="/productByCategory?id=5">Trái cây</a>
								</li>
								<li>
									<a href="/productByCategory?id=6">Củ quả</a>
								</li>
								<li>
									<a href="/productByCategory?id=11">Hạt dinh dưỡng</a>
								</li>
								<li>
									<a href="/productByCategory?id=12">Đặt sản vùng miền</a>
								</li>
							</ul>
						</div>
						<div class="details-list-group">
							<label class="details-list-title">Share:</label>
							<ul class="details-share-list">
								<li>
									<a href="javascript:void(0);" class="icofont-facebook" title="Facebook"></a>
								</li>
								<li>
									<a href="javascript:void(0);" class="icofont-twitter" title="Twitter"></a>
								</li>
								<li>
									<a href="javascript:void(0);" class="icofont-linkedin" title="Linkedin"></a>
								</li>
								<li>
									<a href="javascript:void(0);" class="icofont-instagram" title="Instagram"></a>
								</li>
							</ul>
						</div>
						<div class="details-add-group">
							<a class="product-add1" style="background-color: #119744" title="Thêm giỏ hàng" href="/addToCart?productId=65">
								<i style="color: white" class="fas fa-shopping-basket"></i>
								<span style="color: white">Thêm giỏ hàng</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="inner-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="product-details-frame">
						<h3 class="frame-title">Mô tả sản phẩm</h3>
						<div id="detail" class="tab-descrip">
							<p>
								Quả hạch còn có tên gọi khác là hạt bào ngư, hạt móng ngựa, hình dáng của quả hạch bên ngoài xù xì, có lớp vỏ cứng màu nâu sẫm. Quả hạch có phần nhân bên trong màu trắng, nhận được bao bọc 1 lớp màn mỏng nâu. Phần nhân béo gùi, ăn rất thơm.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section newitem-part">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section-heading">
						<h2>Sản phẩm cùng loại</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<ul class="new-slider slider-arrow slick-initialized slick-slider">
						<div class="slick-list draggable">
							<div id="list" class="slick-track" style="opacity: 1; width: 1160px; transform: translate3d(0px, 0px, 0px);">
							<li class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 232px;">
							<div class="product-card">
								<div class="product-media">
									<div class="product-label">
										<label class="label-text sale">- 5%</label>
									</div>
									<button class="product-wish" tabindex="0">
										<i class="fas fa-heart"></i>
									</button>
									<a class="product-image" href="javascript:void(0);" tabindex="0">
										<img src="/loadImage?imageName=hattieu.jpg" alt="product">
									</a>
									<div class="product-widget">
										<a title="Hãy đăng nhập" href="/login" class="fas fa-heart" tabindex="0">
										</a>
										<a title="Chi tiết sản phẩm" href="/productDetail?id=64" class="fas fa-eye" tabindex="0">
										</a>
									</div>
								</div>
								<div class="product-content">
									<div class="product-rating">
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="icofont-star"></i>
									</div>
									<h6 class="product-name">
										<a href="product-video.html" tabindex="0">Hạt tiêu xay</a>
									</h6>
									<h6 class="product-price">
										<del>100.000 đ</del>
										<span>95.000 đ<small> /kg</small></span>
									</h6>

									<a class="product-add1" title="Thêm giỏ hàng" href="/addToCart?productId=64" tabindex="0">
										<i class="fas fa-shopping-basket"></i><span>Thêm giỏ hàng</span>
									</a>
								</div>
							</div>
						</li><li class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" style="width: 232px;">
							<div class="product-card">
								<div class="product-media">
									<div class="product-label">
										<label class="label-text sale">- 2%</label>
									</div>
									<button class="product-wish" tabindex="0">
										<i class="fas fa-heart"></i>
									</button>
									<a class="product-image" href="javascript:void(0);" tabindex="0">
										<img src="/loadImage?imageName=qua-hach-kho.jpg" alt="product">
									</a>
									<div class="product-widget">
										<a title="Hãy đăng nhập" href="/login" class="fas fa-heart" tabindex="0">
										</a>
										<a title="Chi tiết sản phẩm" href="/productDetail?id=65" class="fas fa-eye" tabindex="0">
										</a>
									</div>
								</div>
								<div class="product-content">
									<div class="product-rating">
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="icofont-star"></i>
									</div>
									<h6 class="product-name">
										<a href="product-video.html" tabindex="0">Quả hạch khô</a>
									</h6>
									<h6 class="product-price">
										<del>200.000 đ</del>
										<span>196.000 đ<small> /kg</small></span>
									</h6>
									<a class="product-add1" title="Thêm giỏ hàng" href="/addToCart?productId=65" tabindex="0">
										<i class="fas fa-shopping-basket"></i><span>Thêm giỏ hàng</span>
									</a>
								</div>
							</div>
						</li><li class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" style="width: 232px;">
							<div class="product-card">
								<div class="product-media">
									<div class="product-label">
										<label class="label-text sale">- 0%</label>
									</div>
									<button class="product-wish" tabindex="0">
										<i class="fas fa-heart"></i>
									</button>
									<a class="product-image" href="javascript:void(0);" tabindex="0">
										<img src="/loadImage?imageName=sa_chi.jpg" alt="product">
									</a>
									<div class="product-widget">

										<a title="Hãy đăng nhập" href="/login" class="fas fa-heart" tabindex="0">
										</a>

										<a title="Chi tiết sản phẩm" href="/productDetail?id=67" class="fas fa-eye" tabindex="0">
										</a>
									</div>
								</div>
								<div class="product-content">
									<div class="product-rating">
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="icofont-star"></i>
									</div>
									<h6 class="product-name">
										<a href="product-video.html" tabindex="0"> Hạt Sachi</a>
									</h6>
									<h6 class="product-price">
										<del>80.000 đ</del>
										<span>80.000 đ<small> /kg</small></span>
									</h6>

									<a class="product-add1" title="Thêm giỏ hàng" href="/addToCart?productId=67" tabindex="0">
										<i class="fas fa-shopping-basket"></i><span>Thêm giỏ hàng</span>
									</a>




								</div>
							</div>
						</li><li class="slick-slide slick-active" data-slick-index="3" aria-hidden="false" tabindex="0" style="width: 232px;">
							<div class="product-card">
								<div class="product-media">
									<div class="product-label">
										<label class="label-text sale">- 12%</label>
									</div>




									<button class="product-wish" tabindex="0">
										<i class="fas fa-heart"></i>
									</button>


									<a class="product-image" href="javascript:void(0);" tabindex="0">
										<img src="/loadImage?imageName=hatsen.jpg" alt="product">
									</a>
									<div class="product-widget">

										<a title="Hãy đăng nhập" href="/login" class="fas fa-heart" tabindex="0">
										</a>




										<!-- 										<a -->
										<!-- 											title="Video về sản phẩm" -->
										<!-- 											href="https://youtu.be/9xzcVxSBbG8" -->
										<!-- 											class="venobox fas fa-play" -->
										<!-- 											data-autoplay="true" -->
										<!-- 											data-vbtype="video"> -->
										<!-- 										</a> -->
										<a title="Chi tiết sản phẩm" href="/productDetail?id=68" class="fas fa-eye" tabindex="0">
										</a>
									</div>
								</div>
								<div class="product-content">
									<div class="product-rating">
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="icofont-star"></i>
									</div>
									<h6 class="product-name">
										<a href="product-video.html" tabindex="0">Hạt sen sấy khô giòn</a>
									</h6>
									<h6 class="product-price">
										<del>80.000 đ</del>
										<span>70.400 đ<small> /kg</small></span>
									</h6>

									<a class="product-add1" title="Thêm giỏ hàng" href="/addToCart?productId=68" tabindex="0">
										<i class="fas fa-shopping-basket"></i><span>Thêm giỏ hàng</span>
									</a>




								</div>
							</div>
						</li><li class="slick-slide slick-active" data-slick-index="4" aria-hidden="false" tabindex="0" style="width: 232px;">
							<div class="product-card">
								<div class="product-media">
									<div class="product-label">
										<label class="label-text sale">- 15%</label>
									</div>




									<button class="product-wish" tabindex="0">
										<i class="fas fa-heart"></i>
									</button>


									<a class="product-image" href="javascript:void(0);" tabindex="0">
										<img src="/loadImage?imageName=hat-duoi-uoi.jpg" alt="product">
									</a>
									<div class="product-widget">

										<a title="Hãy đăng nhập" href="/login" class="fas fa-heart" tabindex="0">
										</a>
										<a title="Chi tiết sản phẩm" href="/productDetail?id=69" class="fas fa-eye" tabindex="0">
										</a>
									</div>
								</div>
								<div class="product-content">
									<div class="product-rating">
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="icofont-star"></i>
									</div>
									<h6 class="product-name">
										<a href="product-video.html" tabindex="0">Hạt ươi (Hạt đười ươi)</a>
									</h6>
									<h6 class="product-price">
										<del>95.000 đ</del>
										<span>80.750 đ<small> /kg</small></span>
									</h6>
									<a class="product-add2" tabindex="0">
										<i class="fas fa-shopping-basket"></i><span>Hết hàng</span>
									</a>
								</div>
							</div>
						</li></div></div>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="section-btn-25">
						<a href="/products" class="btn btn-outline"><i class="fas fa-eye"></i><span>xem thêm</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
    <section class="news-part"
		style="background: url(/images/newsletter.jpg) no-repeat center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-5 col-lg-6 col-xl-7">
					<div class="news-text">
						<h2>Nhận Chiết Khấu 20% Cho Người Đăng Ký</h2>
						<p>Nhận Chiết Khấu 20% Cho Người Đăng Ký</p>
					</div>
				</div>
				<div class="col-md-7 col-lg-6 col-xl-5">
					<form class="news-form">
						<input type="text" placeholder="Nhập Địa Chỉ Email Của Bạn" />
						<button>
							<span><i class="icofont-ui-email"></i>Gửi</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<section class="intro-part">
		<div class="container">
			<div class="row intro-content">
				<div class="col-sm-6 col-lg-3">
					<div class="intro-wrap">
						<div class="intro-icon">
							<i class="fas fa-truck"></i>
						</div>
						<div class="intro-content">
							<h5>Giao Hàng Tận Nhà Miễn Phí</h5>
							<p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="intro-wrap">
						<div class="intro-icon">
							<i class="fas fa-sync-alt"></i>
						</div>
						<div class="intro-content">
							<h5>Chính Sách Hoàn Trả</h5>
							<p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="intro-wrap">
						<div class="intro-icon">
							<i class="fas fa-headset"></i>
						</div>
						<div class="intro-content">
							<h5>Hệ Thống Hỗ Trợ</h5>
							<p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="intro-wrap">
						<div class="intro-icon">
							<i class="fas fa-lock"></i>
						</div>
						<div class="intro-content">
							<h5>Cách Thanh Toán An Toàn</h5>
							<p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    
	<!--************************************
				Footer Start
		*************************************-->
		<footer th:replace="~{/web/fragments/footer :: footer}"></footer>
		<!--************************************
				Footer End
		*************************************-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script th:src="@{/jquery/product_detail.js}"></script>
    <script src="/vendor/bootstrap/jquery-1.12.4.min.js"></script>
    <script src="/vendor/bootstrap/popper.min.js"></script>
    <script src="/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/vendor/countdown/countdown.min.js"></script>
    <script src="/vendor/niceselect/nice-select.min.js"></script>
    <script src="/vendor/slickslider/slick.min.js"></script>
    <script src="/vendor/venobox/venobox.min.js"></script>
    <script src="/js/nice-select.js"></script>
    <script src="/js/countdown.js"></script>
    <script src="/js/accordion.js"></script>
    <script src="/js/venobox.js"></script>
    <script src="/js/slick.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
